<!DOCTYPE html>
<html lang="pt-br">
{% include 'head.html' %}

<body>

    <!--==========================
    Header
    ============================-->
    {% include 'header.html'%}

    <!--==========================
    Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <img src="{{ SITEURL }}/theme/img/python_sul_22_3_md.png" alt="logo-PyCaxias" class="img-fluid"><br>
            <h1 class="mb-4 pb-0">
                <span style="display: none;">Python Sull</span>
                <!-- <span>{{SITEYEAR}}</span> -->
                <span>09, 10 e 11 de Setembro</span>
            </h1>
            <p class="mb-1 pb-0">Centro Universitário - Católica de Santa Catarina</p>
            <!-- <p class="mb-4 pb-0"><small>Centro Universitário - Católica de Santa Catarina</small></p> -->
            <br>
            <a href="{{ CFP_LINK }}" target="_blank">SUBMETER PALESTRA</a>
        </div>
    </section>

    <main id="main">

        <!--==========================
      About Section
    ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Sobre o evento</h2>
                        <p>
                            Evento da comunidade Python da região sul do Brasil, com intuito de popularizar e
                            disseminar o conhecimento da linguagem Python.
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Quando </h3>
                        <p>Dias 09, 10 e 11<br>de Setembro de {{SITEYEAR}}<br>
                            <!-- 08:00h - 12:00h / 13:30h 18:00h -->
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <h3>Onde </h3>
                        <a href="https://g.page/catolicascjaraguadosul?share" target="_blank" class="">
                            <p>Centro Universitário - Católica de Santa Catarina, Jaraguá do Sul, SC</p>
                    </div>
                    </a>

                </div>
            </div>
            </div>
        </section>

        <!--==========================
        Inscricao Section
        ============================-->
        <section id="inscricao" class="pt-4 mt-4 wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>Inscrição</h2>
                    <!-- <p>
                        Esse ano contamos duas formas de inscrição: a já <b>tradicional gratuita</b>,
                        que garante acesso a todo o evento, incluindo palestras, sem custos.
                        A outra forma é por meio da compra de um <b>ingresso com camiseta</b>,
                        com o intuito de ajudar o evento a crescer e proporcionar uma melhor infraestrutura.
                        Apoie e ganhe uma camiseta pra sair por aí mostrando que ama Python!
                    </p>
                    <ul class="mt-4 list-group list-group-flush">
                        <li class="list-group-item text-center">
                            Inicio das Inscrições:
                            <strong>26/04/2022</strong>
                        </li>
                        <li class="list-group-item text-center">
                            Fim das Inscrições: <strong>10/06/2022</strong>
                        </li>
                    </ul> -->
                    <p>
                        <a href="{{INSCRICAO_LINK}}" target="_blank">
                            [Inscreva-se Agora]
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <!-- ==========================
      Speakers Section
    ============================ -->
        <section id="speakers" class="wow fadeInUp">
            <div class="container">
                <!-- <div class="section-header">
                    <h2>Palestrantes</h2>
                    <p>Venha nos ajudar a fazer um evento incrível!</p>
                    <ul class="my-4 list-group list-group-flush">
                        <li class="list-group-item text-center">
                            Fechamento do Call For Papers:
                            <strong>15/05/2022</strong>
                        </li>
                    </ul>
                    <p>
                        <a href="https://forms.gle/M2epFf8SJHzyWuRD7" target="_blank">[call for papers]</a>
                    </p>
                </div> -->

                <div class="row">
                    {% for a in articles %}
                    {% if a.category == "Palestrantes" %}
                    <div class="col-lg-4 col-md-6">
                        <div class="speaker">
                            <img src="{{ SITEURL }}/theme/img/speakers/1.jpg" alt="Speaker 1" class="img-fluid">
                            <div class="details">
                                <h3><a href="speaker-details.html">{{a.palestrante}}</a></h3>
                                <p>{{a.palestra}}</p>
                                <div class="social">
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <!--==========================
      Schedule Section
    ============================-->
        <section id="schedule" class="section-with-bg">
            <div class="container wow fadeInUp">
                <!-- <div class="section-header">
                    <h2>Agenda</h2>
                    <p>Incentivamos a todos a doarem 2kg de alimentos não perecíveis</p>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Dia 11/06/2022</a>
                    </li>
                </ul>

                <h3 class="sub-heading">Grade sujeita a alterações!</h3> -->

                <div class="tab-content row justify-content-center">

                    <!-- Schdule Day 1 -->
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                        {% for a in articles %}
                        {% if a.category == "horarios" %}
                        <a href="{{a.url}}">
                            <div class="row schedule-item">
                                <div class="col-md-2">
                                    <time><strong>{{a.date.strftime('%H:%M') }}</strong></time>
                                </div>
                                <div class="col-md-10">
                                    <h4>{{a.title}}</h4>
                                    <p>{{a.author}}</p>
                                </div>
                            </div>
                        </a>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>

        </section>

        <!--==========================
      Sponsors Section
    ============================-->
        <section id="supporters" class="section-with-bg wow fadeInUp">

            <!-- <div class="container">
                <div class="section-header">
                    <h2>Patrocinadores Diamante</h2>
                </div>
                <div class="row no-gutters clearfix" style="justify-content: center;">
                    {% for a in articles %}
                    {% if a.category == "diamante" %}
                    <div class="col-lg-3 supporters-wrap col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <a href="{{a.link}}" data-toggle="tooltip" data-placement="top" title="{{a.subtitle}}"
                                target="_blank">
                                <img src="{{ SITEURL }}{{a.imagem}}" class="img-fluid" alt="{{a.imagem_alt}}">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
            </div> -->
            <!-- <div class="container">
                <div class="section-header">
                    <h2>Patrocinadores Ouro</h2>
                </div>
                <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                    {% for a in articles %}
                    {% if a.category == "ouro" %}
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <a href="{{a.link}}" data-toggle="tooltip" data-placement="top" title="{{a.subtitle}}"
                                target="_blank">
                                <img src="{{ SITEURL }}{{a.imagem}}" class="img-fluid" alt="{{a.imagem_alt}}">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
            </div> -->

            <div class="container">
                <div class="section-header">
                    <h2>Quer Patrocinar?</h2>
                    <div class="sponsorship-proposal">
                        <h3>
                            <a class="sponsors__call-to-action__links"
                                href="https://docs.google.com/presentation/d/e/2PACX-1vSBaZSvCDZ4aY0_K86kPRtaQPMpbAsBrPVOsLwW3lUYroMt0Iez0qd0ztEFV9fM-9y0oEZ_dPzBu4so/pub?start=false&loop=false&delayms=3000"
                                target="_blank">Proposta de Patrocínio
                            </a>
                        </h3>
                        <h3>
                            <a class="sponsors__call-to-action__links"
                                href="https://docs.google.com/presentation/d/e/2PACX-1vRZrFRO8DLs_UERgarbzkE1cL51XijZY6k68ggQYSP6EcBkxQC9ghZLfKIh6I9Gx5NGtUCQa0JEsmEX/pub?start=false&loop=false&delayms=3000"
                                target="_blank">Sponsorship Proposal
                            </a>
                        </h3>
                    </div>
                </div>
                <br>
                <br>
                <!-- <div class="row">
                  <p><a class="sponsors__call-to-action__links" href="https://docs.google.com/presentation/d/1UpH-mGfC0BJPmZ2J284y8DZFb2KaVco63M083d8APC4/htmlpresent" target="_blank">Sponsorship Proposal</a></p>
                </div> -->

                <div class="section-header">
                    <h2>Patrocinadores Ouro</h2>
                    <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                        Entre em contato para ser o primeiro patrocinador Ouro
                    </div>
                </div>
                <!-- <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                  <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="supporter-logo">
                      <img src="{{ SITEURL }}/theme/img/patrocinadores/garage-geek.png" class="img-fluid" alt="logo-garage-geek">
                    </div>
                  </div>
                </div> -->
            </div>

            <div class="container">
                <div class="section-header">
                    <h2>Patrocinadores Prata</h2>
                    <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="supporter-logo">
                                <a href="https://magrathealabs.com/" target="_blank">
                                    <img src="{{ SITEURL }}/theme/img/logotipo-magrathea-black.png" class="img-fluid"
                                        alt="logo-magrathea-labs">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="section-header">
                    <h2>Patrocinadores Bronze</h2>
                    <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="supporter-logo">
                                <a href="https://www.python.pro.br" target="_blank">
                                    <img src="{{ SITEURL }}/theme/img/logo_pythonpro.png" class="img-fluid"
                                        alt="logo-python-pro">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="supporter-logo">
                                <a href="https://www.globo.com" target="_blank">
                                    <img src="{{ SITEURL }}/theme/img/globo_logo_horizontal_degrade_rosa.png"
                                        class="img-fluid" alt="logo-globo.com">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="section-header">
                    <h2>Apoiadores</h2>
                    <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="supporter-logo">
                                <a href="https://catolicasc.org.br/" target="_blank">
                                    <img src="{{ SITEURL }}/theme/img/catolica_centro_universitário.png"
                                        class="img-fluid" alt="logo-catolica-sc" style="padding: 2rem;">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="supporter-logo">
                                <a href="https://associacao.python.org.br/" target="_blank">
                                    <img src="{{ SITEURL }}/theme/img/apyb_logo.png" class="img-fluid" alt="logo-apyb">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="supporter-logo">
                                <a href="https://salutho.com/" target="_blank">
                                    <img src="{{ SITEURL }}/theme/img/salutho-200-200.jpg" class="img-fluid"
                                        alt="logo-salutho">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container">
                <div class="section-header">
                    <h2>Patrocinadores Prata</h2>
                </div>
                <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                    {% for a in articles %}
                    {% if a.category == "prata" %}
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <a href="{{a.link}}" data-toggle="tooltip" data-placement="top" title="{{a.subtitle}}"
                                target="_blank">
                                <img src="{{ SITEURL }}{{a.imagem}}" class="img-fluid" alt="{{a.imagem_alt}}">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
            </div> -->
            <!-- <div class="container">
                <div class="section-header">
                    <h2>Apoiadores</h2>
                </div>
                <div class="row no-gutters supporters-wrap clearfix" style="justify-content: center;">
                    {% for a in articles %}
                    {% if a.category == "apoiadores" %}
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="supporter-logo">
                            <a href="{{a.link}}" data-toggle="tooltip" data-placement="top" title="{{a.subtitle}}"
                                target="_blank">
                                <img src="{{ SITEURL }}{{a.imagem}}" class="img-fluid" alt="{{a.imagem_alt}}">
                            </a>
                        </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
            </div> -->
        </section>

        <!--==========================
        Subscribe Section
        ============================-->
        <section id="subscribe">
            <div class="container wow fadeInUp">
                <div class="section-header">
                    <h2>Código de Conduta</h2>
                    <p>
                        Queremos que todas as pessoas sejam aceitas e bem-vindas. Portanto, solicitamos que leiam nosso
                        <a href="https://python.org.br/cdc/" target="_blank"><strong>Código de Conduta</strong></a>
                    </p>
                </div>
            </div>
        </section>

        <!--==========================
        Contact Section
        ============================-->
        <section id="contact" class="section-bg wow fadeInUp">

            <div class="container">

                <div class="section-header">
                    <h2>Contato</h2>
                    <p>Para Patrocinios ou duvidas sobre o evento entre em contato conosco</p>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Telegram</h3>
                            <p><a href="https://t.me/franciscoalface">@franciscoalface</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Telefone/whatsapp</h3>
                            <p>
                                <a href="whatsapp://send?abid=047996528859&text=Olá Francisco, sobre a Python Sul...">
                                    (47) 996 528 859
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:pythonsul@gmail.com">pythonsul@gmail.com</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #contact -->

    </main>


    <!--==========================
        Footer
    ============================-->
    {% include 'footer.html'%}

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/jquery/jquery-migrate.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/easing/easing.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/hoverIntent.js"></script>
    <script src="{{ SITEURL }}/theme/lib/superfish/superfish.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/wow/wow.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/venobox/venobox.min.js"></script>
    <script src="{{ SITEURL }}/theme/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
</body>

</html>